<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <canvas id="myChart"></canvas>
            </div>

            <div class="col-6">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        const ctx = document.getElementById('myChart');
        const bookPrices = [25.99, 19.99, 32.5, 28.0];
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Livro 1', 'Livro 2', 'Livro 3', 'Livro 4'],
                datasets: [{
                    label: 'Relatório de livros x preços',
                    data: bookPrices,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        fetch("/Reports/getReportPrices", function (data) {
            console.log(data);
        })









    </script>



}

